.checkbox > input,
.checkbox-inline > input {
  &:before {
    border-radius: 3px;
  }
  &:after {
    top: 2px;
    left: 7px;
    box-sizing: border-box;
    width: 6px;
    height: 12px;
    transform: rotate(45deg);
    border-width: 2px;
    border-style: solid;
    border-color: #fff;

    border-top: 0;
    border-left: 0;
  }
  &:checked {
    &:before {
      border: @main-color;
      background: @main-color;
    }
    &[disabled] {
      &:before {
        border: @disabled-checked-color;
        background: @disabled-checked-color;
      }
    }
  }
  &.lg {
    &:after {
      top: 4px;
      left: 9px; 
      width: 10px;
      height: 16px;
    }
  }
}